<!-- config file for the NAOTrack client -->
<config>
	<default_hostname>localhost</default_hostname>
	<default_port>1025</default_port>
	<cell_number_horizontal>12</cell_number_horizontal>
	<cell_number_vertical>12</cell_number_vertical>
	<color_coefficient>32.0</color_coefficient>
	<analyser>
		<input_server>localhost</input_server>
		<input_server_port>1024</input_server_port>
		<output_server>localhost</output_server>
		<output_server_port>1025</output_server_port>
		<nb_ticks>160</nb_ticks>
		<nb_samples>20000</nb_samples>
		<target>5e-2</target>
		<x_range>12</x_range>
		<y_range>10</y_range>
	</analyser>
</config>
